body,
html,
* {
  margin: 0;
  padding: 0;
}

.main {
  /* width: 100%; */
  /* border: 2px solid red; */
  box-shadow: 0px 2px 2px 2px rgba(110, 116, 124, 0.5);
  height: 100%;
  margin: 15px;
  padding: 10px;
  position: relative;
  height: 90vh;
}

.subheading {
  text-align: center;
  background-color: rgb(1, 3, 3);
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.subheading h1 {
  color: white;
  /* font-style: italic; */
}

.subheading span {
  color: white;
}

.subheading h3 {
  display: inline;
  color: rgb(73, 205, 209);
  font-style: italic;
}

.chat-container {
  /* border: 2px solid black; */
  height: 65vh;
  margin: 1em 0;
  padding: 1em 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */
}
.chat-container .rooms,
.messages {
  /* border: 2px solid red; */
  /* height: auto; */
  width: 45%;
  overflow: scroll;
}

.chat-container button {
  color: black;
  font-weight: bold;
  /* background-color: rgb(128, 171, 226); */
  /* background-color: lightgray; */
  /* margin: 10px 0; */
  /* padding: 10px; */
  /* height: 4em; */
  /* width: 100%; */
}

.inputBox {
  /* border: 2px solid blue; */
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.inputBox input {
  margin: 1em;
  font-weight: bold;
  font-size: 100%;
  height: 2em;
  /* height: 25%; */
  width: 75%;
}

.inputBox button {
  margin: 1em;
  font-size: 100%;
  color: white;
  background-color: darkblue;
  height: 2em;
  /* height: 25%; */
  width: 20%;
}
